*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.box-1{
   background-color: #0698c5;
}
.box-2{
   background-color: #754c00;
}
.box-3{
   background-color: #e00898;
}
.box-4{
   background-color: #eeff01;
}
.box-5{
   background-color: #920505;
}
.box-6{
   background-color: #1b2e16;
}
.box-20{
   background-color: #0698c5;
}
.box-21{
   background-color: #754c00;
}
.box-22{
   background-color: #e00898;
}
.box-23{
   background-color: #eeff01;
}
.box-24{
   background-color: #920505;
}
.box-25{
   background-color: #1b2e16;
}
.box-26{
   background-color: #0698c5;
}
.box-27{
   background-color: #754c00;
}
.box-28{
   background-color: #e00898;
}
.box-29{
   background-color: #eeff01;
}
.box-30{
   background-color: #920505;
}
.box-31{
   background-color: #1b2e16;
}
.box-32{
   background-color: #0698c5;
}
.box-33{
   background-color: #754c00;
}
.box-34{
   background-color: #e00898;
}
.box-35{
   background-color: #eeff01;
}
.box-36{
   background-color: #920505;
}
.box-37{
   background-color: #1b2e16;
}
.container{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 30px;
    margin: 30px;
    padding: 20px;    
}
.box-1{
    border: none;
}
.container-1{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 20px;
    margin: 30px;
    padding: 15px;
}
#box-7{
   grid-column: 1 / 3;
}
#box-9{
   grid-column: 3 / 4;
   grid-row: 1 / 3;
}
.container-2{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 20px;
    margin: 30px;
    padding: 15px;
}
#box-11{
   grid-column: 1 / 4;
}
#box-12{
   grid-column: 1 / 2;
}
#box-13{
   grid-column: 2 / 4;
}
#box-14{
   grid-column: 1 / 4;
}
.container-3{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    gap: 20px;
    margin: 30px;
    padding: 15px;
}
#box-15{
   grid-column: 1 / 3;
}
#box-16{
   grid-column: 3 / 5;
   grid-row: 1 / 2;
}
#box-17{
   grid-column: 1 / 2;
   grid-row: 2 / 3;
}
#box-18{
   grid-row: 2 / 3;
   grid-column: 2 / 5;
}
#box-19{
   grid-row: 3 / 4;
   grid-column: 1 / 5;
}
.container-4{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    gap: 20px;
    margin: 30px;
    padding: 15px;
}
.container-5{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    gap: 20px;
    margin: 30px;
    padding: 15px;
}
#box-45{
   grid-column: 3 / 6;
}
#box-46{
   grid-column: 1 / 6;
}
.container-6{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    gap: 20px;
    margin: 30px;
    padding: 15px;
}
#box-47{
   grid-column: 1 / 7;
}
#box-48{
   grid-row: 2 / 4;
   grid-column: 1 / 3;
}
#box-49{
   grid-column: 3 / 7;
}
#box-50{
   grid-row: 3 / 4;
   grid-column: 3 / 5;
}
#box-51{
   grid-row: 3 / 4;
   grid-column: 5 / 7;
}
.container-7{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    gap: 20px;
    margin: 30px;
    padding: 15px;
}
#box-52{
   grid-column: 1 / 4;
}
#box-53{
   grid-column: 4 / 7;
}
#box-54{
   grid-column: 1 / 4;
   grid-row: 2 / 4;
}
#box-55{
   grid-column: 4 / 7;
   grid-row: 2 / 4;
}
.inner-grid{
   display: grid;
   grid-template-columns: repeat(4 , 1fr);
   padding: 30px;
   gap: 20px;
}
#box-56{
   grid-column: 1 / 5;
   background-color: #215015;
}
#box-57{
   grid-column: 1 / 3;
   background-color: #215015;
}
#box-58{
   grid-column: 3 / 5;
   background-color: #920505;
}
