*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.container{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 30px;
    margin: 30px;
    padding: 20px;    
}
.box-1{
    border: none;
}
#box-1{
   background-color: #c9213d;
}
#box-2{
   background-color: #e73250;
}
#box-3{
   background-color: #d4475e;
}
#box-4{
   background-color: #0698c5;
}
#box-5{
   background-color: #329ec9;
}
#box-6{
   background-color: #51a0be;
}
.container-1{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 20px;
    margin: 30px;
    padding: 15px;

}
#box-7{
   grid-column: 1 / 3;
   background-color: rgb(117, 76, 0);
}
#box-8{
   background-color: #358635;
}
#box-9{
   grid-column: 3 / 4;
   grid-row: 1 / 3;
   background-color: #d4475e;
}
#box-10{
   background-color: #1b2e16;
}

