*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.box-1{
   background-color: #0698c5;
}
.box-2{
   background-color: #754c00;
}
.box-3{
   background-color: #e00898;
}
.box-4{
   background-color: #eeff01;
}
.box-5{
   background-color: #920505;
}
.box-6{
   background-color: #1b2e16;
}
.container{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 30px;
    margin: 30px;
    padding: 20px;    
}
.box-1{
    border: none;
}
.container-1{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 20px;
    margin: 30px;
    padding: 15px;
}
#box-7{
   grid-column: 1 / 3;
}
#box-9{
   grid-column: 3 / 4;
   grid-row: 1 / 3;
}
.container-2{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 20px;
    margin: 30px;
    padding: 15px;
}
#box-11{
   grid-column: 1 / 4;
}
#box-12{
   grid-column: 1 / 2;
}
#box-13{
   grid-column: 2 / 4;
}
#box-14{
   grid-column: 1 / 4;
}
.container-3{
    border: none;
    background-color: #534d4d;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    padding: 10px;
    gap: 20px;
    margin: 30px;
    padding: 15px;
}
#box-15{
   grid-column: 1 / 3;
}
#box-17{
   grid-column: 3 / 5;
   grid-row: 1 / 2;
}
